*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    width: 100%;

    #root{
        height: 100%;
        width: 1500px;
        background-color: aqua;
        margin: 0 auto;
    }
}

.wrap_content_all{
    height: 100%;
    width: 100%;
}

header{
    width: 100%;
    height: 6vh;
    background-color: black;
}

main{
    height: 88vh;
    width: 100%;
    background-color: blue;
    display: flex;
    

    .main_content{
        transition-duration: 1s;
        height: 100%;
        width: 80%;
        background-color: cadetblue;

        &.view_list{
            width: 95%;
        }

        .input_data_about_person{
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .input_data_wrap{
                height: 300px;
                width: 300px;
                padding: 20px;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                background-color: yellow;


                & input{
                    height: 20px;
                    width: 90%;
                    margin: 0 auto;
                }

                button{
                    width: 40%;
                    height: 30px;
                    margin: 0 auto;
                    border: none;
                }

                h3{
                    margin: 0 auto;
                }
            } 
        }
    }

    .list_employees{
        height: 100%;
        width: 20%;
        background-color: chartreuse;
    }

}

.list_employees{
    transition-duration: 1s;

    &.view_list{
        width: 5%;
        transition-duration: 1s;

        .manage_buttons_list{
            height: 35px;
            width: 100%;
            background-color: chocolate;
    
            button{
                border: none;
                font-size: 25px;
                padding: 0 10px;
                margin: 0 auto;
            }

            a{
                display: none;
            }
        }
    }

    .manage_buttons_list{
        height: 4vh;
        width: 100%;
        background-color: chocolate;
        display: flex;
        justify-content: space-between;

        button{
            border: none;
            font-size: 16px;
            padding: 0 10px;
            margin-right: 10px;
            font-size: 25px;
            transition-duration: 1s;
        }

        a{
            background-color: bisque;
            text-decoration: none;
            padding: 0 5px;
            text-align: center;
        }
    }

    .list_empls_wrap{
        height: calc(100% - 35px);
        width: 100%;
        background-color: burlywood;

        overflow: scroll;

        &::-webkit-scrollbar{
            width: 0;
            height: 0;
        }

        .item_list{
            height: 100px;
            max-width: 100%;
            background-color: cadetblue;
            margin: 3px;
            display: flex;
            flex-direction: column;
            position: relative;

            .open_calendar{
                position: absolute;
                height: 100%;
                width: 100%;
                z-index: 100;
            }

           span{
               width: 90%;
               color: white;
               display: block;
           }

           .item_list_name{
               height: 40%;
               margin-top: 5px;
               margin-left: 5px;
               font-size: 22px;
           }

           .item_list_position{
               height: 30%;
               font-size: 18px;
               margin-left: 5px;
           }

           .itel_list_date{
               width: 100%;
               height: 16px;
               margin: 0 5px 5px 0;
               font-size: 14px;
               color: rgba(255, 255, 255, 0.734);
               position: absolute;
               right: 0;
               bottom: 0;
               text-align: end;
           }


        }
    }   
}


.wrap_calendar{
    height: 100%;
    width: 100%;

    .manage_calendar{
        height: 50px;
        width: 100%;
        background-color: blue;
    }

    .calendar{
        height: calc(100% - 75px);
        width: 100%;

        .table_calendar{
            height: 25px;
            width: 100%;
            background-color: bisque;
            
            ul{
                display: flex;
                height: 100%;
                width: 100%;
                list-style: none;
                justify-content: space-around;

                li{
                    height: 100%;
                    width: 14.2%;
                    text-align: center;
                    box-sizing: border-box;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    background-color: azure;

                    &:last-child{
                        border-right: none;
                    }
                }
            }
        }

        .calendar_content{
            max-height: 100%;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            overflow: scroll;
            &::-webkit-scrollbar{
                width: 0;
                height: 0;
            }

            & > *{
                height: 120px;
                transition-duration: 0.5s;
                width: 14.2%;
                box-sizing: border-box;
                border-radius: 10px;
                background-color: beige;
                border-left: 4px solid transparent;
                border-top: 4px solid transparent;
                border-bottom: 4px solid transparent;
                background-clip: content-box;  
            }

            & > *:nth-child(7n){
                border-right: 4px solid transparent;
            }

            & > *:hover:not(.blank_item_calendar){
                transition-duration: 0.5s;
                height: 200px;
            }
        }
    }
}












footer{
    height: 6vh;
    width: 100%;
    background-color: brown;
}